$body-bg: hsl(217, 54%, 11%);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1;
}

html {
  font-size: 62.5%;
}

body {
  height: 100vh;
  background-color: $body-bg;
  color: #fff;
  font-family: "Outfit", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}
