$soft-blue: hsl(215, 51%, 70%);
$cyan: hsl(178, 100%, 50%);

$very-dark-blue: hsl(215, 51%, 16%);
$dark-blue: hsl(215, 32%, 27%);

.card {
  width: 30rem;
  padding: 2rem;
  background-color: $very-dark-blue;
  border-radius: 1.2rem;
  color: $soft-blue;
  font-size: 1.4rem;
  font-weight: 400;
  box-shadow: 0 35px 10px 20px rgba(0, 0, 0, 0.1);
  margin-bottom: 1rem;

  &-img {
    width: 100%;

    &-box {
      position: relative;
      border-radius: 1.2rem;
      overflow: hidden;
      cursor: pointer;

      .overlay {
        position: absolute;
        inset: 0;
        z-index: 2;
        background-color: transparent;
        transition: all 0.3s;
      }

      &:hover .overlay {
        background-color: rgba($cyan, $alpha: 0.5);
      }

      &:hover .card-img-eye {
        top: 50%;
      }
    }

    &-eye {
      position: absolute;
      z-index: 3;
      top: -50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transition: all 0.3s;
    }
  }

  &-title {
    display: inline-block;
    font-size: 2.5rem;
    font-weight: 600;
    margin: 2.5rem 0 2rem 0;
    color: #fff;
    transition: color 0.2s;

    &:hover {
      cursor: pointer;
      color: $cyan;
    }
  }

  &-description {
    color: $soft-blue;
    line-height: 1.5;
    margin-bottom: 2rem;
  }

  &-specs {
    display: flex;
    justify-content: space-between;
    font-size: 1.6rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid $dark-blue;
    margin-bottom: 1rem;

    &-price,
    &-date {
      display: flex;
      gap: 8px;
    }

    &-price {
      color: $cyan;
    }
  }

  &-owner {
    display: flex;
    align-items: center;
    gap: 1rem;

    &-creator {
      width: 4.5rem;
      border: 2px solid #fff;
      border-radius: 50%;
    }

    &-name {
      color: #fff;
      transition: color 0.2s;

      &:hover {
        cursor: pointer;
        color: $cyan;
      }
    }
  }
}
